.normal-record .x-grid-cell {
    background-color: #900 !important;
}

.inactive-record .x-grid-cell {
    background-color: #e6fffe !important;
}

.block-record .x-grid-cell {
    background-color: rgba(255, 64, 0, 0.5) !important;
}